*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: grid;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;  
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;  
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto; /* отвечает за отображением содержания блочного элемента по вертикали. auto - появляется скролл*/
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__list-item {
  margin-bottom: 30px;
  /*убрать отступ у последнего элемента*/
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
